<p-panel>
  <div class="card">
    <p-table
      [value]="sales"
      [resizableColumns]="true"
      styleClass="p-datatable-gridlines"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="brand">
            Brand<p-sortIcon field="brand"></p-sortIcon>
          </th>
          <th colspan="1">Sale Rate</th>
          <th colspan="2">Sales</th>
          <th rowspan="2" colspan="1">profit</th>
        </tr>
        <tr>
          <th>Last Year</th>
          <th>This Year</th>
          <th>Last Year</th>
          <th>This Year</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sale>
        <tr>
          <td>{{ sale.brand }}</td>
          <td>{{ sale.lastYearSale }}</td>
          <td>{{ sale.thisYearSale }}</td>
          <td>{{ sale.lastYearProfit }}</td>

          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="number"
                  [(ngModel)]="sale.thisYearProfit"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ sale.thisYearProfit }}
              </ng-template>
            </p-cellEditor>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="3">Totals</td>
          <td>$506,202</td>
          <td>$531,020</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div>
    <h5>toggle with pagination</h5>
    <p-table
      [value]="sales"
      dataKey="brand"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th pSortableColumn="brand">
            Brand Name <p-sortIcon field="brand"></p-sortIcon>
          </th>
          <th>Last Year</th>
          <th>This Year</th>
          <th>Last Year</th>
          <th>This Year</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sale let-expanded="expanded">
        <tr>
          <td>
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="sale"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            ></button>
          </td>
          <td>{{ sale.brand }}</td>
          <td>{{ sale.lastYearSale }}</td>
          <td>{{ sale.thisYearSale }}</td>
          <td>{{ sale.lastYearProfit }}</td>
          <td>{{ sale.thisYearProfit }}</td>
          <td>
            <span [class]="'status-' + sale.brand.toLowerCase()">{{
              sale.brand
            }}</span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-sale>
        <tr>
          <td colspan="7">
            <div class="p-p-3">
              <p-table [value]="sales" dataKey="brand">
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="brand">
                      brand <p-sortIcon field="brand"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-sale>
                  <tr>
                    <td>{{ sale.brand }}</td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="6">empty.</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-panel>
