<p-panel *ngIf="!isPanelVisible">
  <h3>simple search</h3>
  <p><input type="text" pInputText [(ngModel)]="first" /></p>
  <p-button label="Advanced Search" (onClick)="handlePanel()"></p-button>
</p-panel>
<p-panel *ngIf="isPanelVisible">
  <h3>advanced search</h3>
  <p><input type="text" pInputText [(ngModel)]="second" /></p>
  <p><input type="text" pInputText [(ngModel)]="third" /></p>
  <h6>val1</h6>
  <p-checkbox
    name="groupname"
    value="val1"
    [(ngModel)]="selectedValues"
  ></p-checkbox>
  <h6>val2</h6>
  <p-checkbox
    name="groupname"
    value="val2"
    [(ngModel)]="selectedValues"
  ></p-checkbox>
  <p>
    <p-button label="Submit" (onClick)="handleSearch()"></p-button>
  </p>
</p-panel>
