.element::-webkit-scrollbar {
  width: 12px;
}
.element::-webkit-scrollbar-track {
  background: orange;
}
.element::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
}
