<div class="card">
  <p-virtualScroller [value]="cars" scrollHeight="500px" [itemSize]="150">
    <ng-template pTemplate="item" let-car>
      <div class="product-list-detail">
        <h5>{{ car.vin }}</h5>
        <span>{{ car.brand + "-" + car.year }}</span>
        <p>color: {{ car.color }}</p>
      </div>
    </ng-template>
  </p-virtualScroller>
</div>
