<p-panel>
  <div>
    <h3>simple input</h3>
    <div>
      <input type="text" pInputText [(ngModel)]="first" />
      <p-button label="Submit" (onClick)="handleEvent($event)"></p-button>
    </div>
    <h3>calendar</h3>
    <div>
      <p-calendar
        [(ngModel)]="value"
        [showTime]="true"
        [required]="true"
      ></p-calendar>
      <p-button label="Submit" (onClick)="handleDate($event)"></p-button>
    </div>
  </div>
  <h3>multiselect button</h3>
  <div>
    <p-selectButton
      [options]="cities"
      [(ngModel)]="selectedCityCode"
      optionLabel="name"
      optionValue="code"
      [multiple]="true"
    ></p-selectButton>
  </div>
</p-panel>
